In [2]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [3]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),is_train,species
0,5.1,3.5,1.4,0.2,False,setosa
1,4.9,3.0,1.4,0.2,True,setosa
2,4.7,3.2,1.3,0.2,False,setosa
3,4.6,3.1,1.5,0.2,True,setosa
4,5.0,3.6,1.4,0.2,True,setosa

In [6]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [19]:
train.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),is_train,species
1,4.9,3.0,1.4,0.2,True,setosa
3,4.6,3.1,1.5,0.2,True,setosa
4,5.0,3.6,1.4,0.2,True,setosa
5,5.4,3.9,1.7,0.4,True,setosa
6,4.6,3.4,1.4,0.3,True,setosa

In [11]:
test.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,41.000000,41.000000,41.000000,41.000000
mean,5.780488,2.992683,3.602439,1.082927
std,0.831931,0.440676,1.792692,0.723154
min,4.400000,2.200000,1.200000,0.100000
25%,5.000000,2.800000,1.500000,0.200000
50%,5.700000,3.000000,4.400000,1.300000
75%,6.500000,3.200000,4.900000,1.600000
max,7.700000,4.200000,6.900000,2.400000

In [17]:
features = df.columns[:4]
features

Index([u'sepal length (cm)', u'sepal width (cm)', u'petal length (cm)',
       u'petal width (cm)'],
      dtype='object')

In [21]:
clf = RandomForestClassifier(n_jobs=2)
y, _ = pd.factorize(train['species'])
print y
print _

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]
Index([u'setosa', u'versicolor', u'virginica'], dtype='object')

In [22]:
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [24]:
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2])

In [26]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'],
      dtype='|S10')

In [29]:
preds = iris.target_names[clf.predict(test[features])]
preds

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'virginica', 'virginica', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'virginica'],
      dtype='|S10')

In [30]:
pd.crosstab(test['species'], preds, rownames=['actual'], colnames=['preds'])

preds       setosa  versicolor  virginica
actual
setosa          15           0          0
versicolor       0          13          1
virginica        0           4          8

# Sample Direction

In [14]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [15]:
names = ['direction', 'pitch', 'roll', 'yaw']
df = pd.read_csv("../model/rawsample-munged.csv", names=names, header=0)
df.head()

  direction  pitch  roll  yaw
0       Top      0     5  -27
1       Top      1     4  -27
2       Top      3    -4  -28
3       Top      3   -15  -28
4       Top      2   -24  -27

In [16]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
df.head()

  direction  pitch  roll  yaw is_train
0       Top      0     5  -27     True
1       Top      1     4  -27     True
2       Top      3    -4  -28     True
3       Top      3   -15  -28    False
4       Top      2   -24  -27    False

In [17]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [18]:
train.head()

  direction  pitch  roll  yaw is_train
0       Top      0     5  -27     True
1       Top      1     4  -27     True
2       Top      3    -4  -28     True
6       Top      3   -29  -30     True
7       Top      5   -29  -30     True

In [19]:
test.head()

   direction  pitch  roll  yaw is_train
3        Top      3   -15  -28    False
4        Top      2   -24  -27    False
5        Top      3   -27  -29    False
9        Top      5   -27  -29    False
12     Right      5   -22  -27    False

In [20]:
features = df.columns[1:4]
features

Index([u'pitch', u'roll', u'yaw'], dtype='object')

In [21]:
clf = RandomForestClassifier(n_jobs=2)
y, target_names = pd.factorize(train['direction'])

print y
print target_names

[0 0 0 ..., 3 3 3]
Index([u'Top', u'Right', u'Bottom', u'Left'], dtype='object')

In [22]:
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [23]:
test[features].head()

    pitch  roll  yaw
3       3   -15  -28
4       2   -24  -27
5       3   -27  -29
9       5   -27  -29
12      5   -22  -27

In [24]:
clf.predict(test[features])

array([2, 1, 0, 0, 1, 1, 1, 1, 1, 2, 3, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 2, 3, 3, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [25]:
preds = target_names[clf.predict(test[features])]
preds

Index([u'Bottom', u'Right', u'Top', u'Top', u'Right', u'Right', u'Right',
       u'Right', u'Right', u'Bottom',
       ...
       u'Left', u'Left', u'Left', u'Left', u'Left', u'Left', u'Left', u'Left',
       u'Left', u'Left'],
      dtype='object', length=432)

In [26]:
confusionmatrix = pd.crosstab(test['direction'], preds, rownames=['actual'], colnames=['preds'])
confusionmatrix

preds   Bottom  Left  Right  Top
actual
Bottom     106     0     10    0
Left         3   107      1    0
Right        1     0     97    0
Top          1     0      3  103

In [27]:
print confusionmatrix.sum(0)
print confusionmatrix.sum(1)

preds
Bottom    111
Left      107
Right     111
Top       103
dtype: int64
actual
Bottom    116
Left      111
Right      98
Top       107
dtype: int64

In [28]:
precision =  pd.Series(np.diag(confusionmatrix / confusionmatrix.sum(0) ).round(2), index=["Bottom", "Left", "Right", "Top"])
precision

Bottom    0.95
Left      1.00
Right     0.87
Top       1.00
dtype: float64

In [29]:
recall = pd.Series(np.diag(confusionmatrix / confusionmatrix.sum(1)).round(2), index=["Bottom", "Left", "Right", "Top"])
recall

Bottom    0.91
Left      0.96
Right     0.99
Top       0.96
dtype: float64

In [30]:
f1score = 2 * (precision * recall) / (precision + recall)
f1score

Bottom    0.929570
Left      0.979592
Right     0.926129
Top       0.979592
dtype: float64

In [31]:
gscore =np.sqrt(precision * recall)
gscore

Bottom    0.929785
Left      0.979796
Right     0.928062
Top       0.979796
dtype: float64

In [14]:
from sklearn.externals import joblib

In [16]:
clf = joblib.load('../model/filename.pkl')

In [17]:
import pickle

In [18]:
filename = '../model/finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))

In [149]:
joblib.dump(clf, '../filename.pkl')

['../filename.pkl',
 '../filename.pkl_01.npy',
 '../filename.pkl_02.npy',
 '../filename.pkl_03.npy',
 '../filename.pkl_04.npy',
 '../filename.pkl_05.npy',
 '../filename.pkl_06.npy',
 '../filename.pkl_07.npy',
 '../filename.pkl_08.npy',
 '../filename.pkl_09.npy',
 '../filename.pkl_10.npy',
 '../filename.pkl_11.npy',
 '../filename.pkl_12.npy',
 '../filename.pkl_13.npy',
 '../filename.pkl_14.npy',
 '../filename.pkl_15.npy',
 '../filename.pkl_16.npy',
 '../filename.pkl_17.npy',
 '../filename.pkl_18.npy',
 '../filename.pkl_19.npy',
 '../filename.pkl_20.npy',
 '../filename.pkl_21.npy',
 '../filename.pkl_22.npy',
 '../filename.pkl_23.npy',
 '../filename.pkl_24.npy',
 '../filename.pkl_25.npy',
 '../filename.pkl_26.npy',
 '../filename.pkl_27.npy',
 '../filename.pkl_28.npy',
 '../filename.pkl_29.npy',
 '../filename.pkl_30.npy',
 '../filename.pkl_31.npy',
 '../filename.pkl_32.npy',
 '../filename.pkl_33.npy',
 '../filename.pkl_34.npy',
 '../filename.pkl_35.npy',
 '../filename.pkl_36.npy',
 '../filename.pkl_37.npy',
 '../filename.pkl_38.npy',
 '../filename.pkl_39.npy',
 '../filename.pkl_40.npy',
 '../filename.pkl_41.npy']